.my-animation {
    margin: auto;
    width: 200px;
    
&__horizontal {
        //1. Animation Basics
        animation-name: horizontal-move;
        animation-duration: 6s;
        //2. Animation
        animation-iteration-count: infinite;
        //3. Non-animation related
        width: 100px;
        height: 100px;
        position: relative;
    }
&__circle {
        //1. Animation Basics
        animation-name: circle-move;
        animation-duration: 6s;
        //2. Animation
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        transform-origin: center;
        transform-box: fill-box;
        //3. Non-animation related
        width: 100px;
        height: 100px;
    }
}

// Animation keyframes uses "animation-name:"

@keyframes horizontal-move {
    0% {transform: translate(0%, 0%);}
    50% {transform: translate(20%, 0%);}
    100% {transform: translate(0%, 0%);}
}

@keyframes circle-move {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

