/* component/collapsable-menu-css-only */
/* Use: Burguer Icon without JS */
/* Portable */

@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");

.f-nav-box {
        display:            flex;
        flex-direction:     row;//horizontal
        flex-wrap:          nowrap;//move down to the next line
        justify-content:    space-between; //horizontal
        //end flex properties
        width: 100%;
        margin: auto;
        background-color:$black;


        &__brand {
        }

        &__brand-logo {
                width: 60px;
                height: 60px;
                padding: 5px 0px 5px 20px;
                
                    @media (max-width: 767.98px) {
                        padding: 8px 0px 0px 20px;

                    }

        }
    
        &__menu {
        align-self: center;
        margin-right: 40px;
        @media (max-width: 991.98px) {
        align-self: stretch;
        padding: 20px 0; 
        margin-right: 5px;
        }
        }
    }

//===============================
//  Collapsable Element
//===============================
// 1. Mixin
//===============================
@mixin animate{
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
        -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
        -webkit-transform-style: preserve-3d;
                transform-style: preserve-3d;
}
//===============================
// 2 Input checkbox
//===============================
input[type=checkbox] {    
        display: none;
// Checkbox in checked state
        &:checked {
        ~ .collapse {
        height: 170px;
        }
        }
}

//===============================
//3. Collapse Menu
//===============================

.collapse {
        text-align: right; //position the burger icon
        color: $black;

       &__menu-content {
@media (max-width: 991.98px) { //collapsed
        text-align: right; //position the text inside the collapsed box
@media (max-width: 575.98px) {
        text-align: left; //position the text inside the collapsed box
}

        }
        }

        &__menu-content a {
                color:$white;
                text-decoration: none;
                font-family: $font-poppins;
                font-size: $medium;
                margin-left:1em;
                &:hover{
                        color:$orange;
                }
        }
        


@media (max-width: 991.98px) // when x-small, small and medium: Collapsed
{
        @include animate;
        display: block;
        width: 170px;
@media (max-width: 575.98px) {
        width: 120px;
}
        height: 2.8em; /* Needs to match Icon Font-Size */
        overflow: hidden;
        cursor:pointer;


        &__menu-icon:before {
                font-family: "Font Awesome 5 Free";
                content: '\f0c9'; 
                font-weight: 900; /* This needs to be 900 for the icon to display */
                font-size:2.5em; /* Icon Font-Size to match */
                color:$white;
        }

        &__menu-content a {
                line-height: 3em; //Styling (responsive to smaller screens)
        }
}

// when large, x-large and xx-large: State not collapsed
@media (min-width: 992px) {
   
        &__menu-content > li {
                display: inline;
        }
}
}



