/* abstracts/variables */

/* Colors */

$white:#FFFFFF;
$black:#000000;
$sable:#060606;
$charcoal:#2E1503;
$tangerine:#FFAF6D;
$orange:#FFA500;

/* Font Family */
$font-poppins: 'Poppins', sans-serif;
$font-ubuntu: 'Ubuntu', sans-serif;

/* Font weight */
$weight-regular: 400;
$weight-bold: 700;

/* Font Size */
$xxxxx-large: 3.125em; /* 50px */
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 1.875em; /* 30px */
$large: 20px;
$medium: 1em; /* 16px */
$small: 0.875em; /* 14px */
$x-small: 0.75em; /* 12px */



