/* abstracts/variables */
/* Colors */
/* Font Family */
/* Font weight */
/* Font Size */
/* 50px */
/* 30px */
/* 16px */
/* 14px */
/* 12px */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* base/typography */
body {
  font-family: "Poppins", sans-serif;
}

.f-nav-box__menu .collapse__menu-content li a {
  font-weight: 700;
}

h3 {
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin: 10px 0;
}

h4 {
  font-family: "Ubuntu", sans-serif;
  font-size: 1em;
  font-weight: 700;
  margin: 8px 0;
}

h5 {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: 700;
  background-color: #666666;
  color: #FFFFFF;
  padding: 5px 0;
  text-align: center;
  margin: 6px 0;
}

h6 {
  font-family: "Ubuntu", sans-serif;
  font-size: 1em;
  font-weight: 700;
  margin: 4px 0;
}

p {
  font-family: "Ubuntu", sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
}

.article3 ul {
  list-style-type: circle;
  margin: 10px;
  padding: 10px;
  color: #000000;
  line-height: 1.5;
}

.article3 a {
  text-decoration: none;
}

/* layout/breakpoint-master-dont-modify */
/* For breakpoint control */
/* Portable */
/* 1. Define breakpoint variables. Sizes obtained from Bootstrap 4.6 */
/* 2. Responsive breakpoint manager */
/* End of responsive breakpoint manager */
/* 3. Sample. How to use it: This is a BEM approach (Block Element Modifier based approach) */
/* body {
  @include screen-size('x-large') {
      font-family: Arial, Helvetica, sans-serif;
  }
}
 */
/* layout/column-master-dont-modify */
/* Use: column for responsive */
/* Semi-Portable; Dependency: layout/_breakpoint-master-dont-modify */
.f-col-auto {
  flex-basis: auto;
}

.f-col-12 {
  flex-basis: 100%;
}

.f-col-11 {
  flex-basis: 91.66666667%;
}

.f-col-10 {
  flex-basis: 83.33333333%;
}

.f-col-9 {
  flex-basis: 75%;
}

.f-col-8 {
  flex-basis: 66.66666667%;
}

.f-col-7 {
  flex-basis: 58.33333333%;
}

.f-col-6 {
  flex-basis: 50%;
}

.f-col-5 {
  flex-basis: 41.66666667%;
}

.f-col-4 {
  flex-basis: 33.33333333%;
}

.f-col-3 {
  flex-basis: 25%;
}

.f-col-2 {
  flex-basis: 16.66666667%;
}

.f-col-1 {
  flex-basis: 8.33333333%;
}

@media (min-width: 1400px) {
  .f-col-xx-lg-12 {
    flex-basis: 100%;
  }

  .f-col-xx-lg-11 {
    flex-basis: 91.66666667%;
  }

  .f-col-xx-lg-10 {
    flex-basis: 83.33333333%;
  }

  .f-col-xx-lg-9 {
    flex-basis: 75%;
  }

  .f-col-xx-lg-8 {
    flex-basis: 66.66666667%;
  }

  .f-col-xx-lg-7 {
    flex-basis: 58.33333333%;
  }

  .f-col-xx-lg-6 {
    flex-basis: 50%;
  }

  .f-col-xx-lg-5 {
    flex-basis: 41.66666667%;
  }

  .f-col-xx-lg-4 {
    flex-basis: 33.33333333%;
  }

  .f-col-xx-lg-3 {
    flex-basis: 25%;
  }

  .f-col-xx-lg-2 {
    flex-basis: 16.66666667%;
  }

  .f-col-xx-lg-1 {
    flex-basis: 8.33333333%;
  }
}
@media (max-width: 1399.98px) {
  .f-col-x-lg-12 {
    flex-basis: 100%;
  }

  .f-col-x-lg-11 {
    flex-basis: 91.66666667%;
  }

  .f-col-x-lg-10 {
    flex-basis: 83.33333333%;
  }

  .f-col-x-lg-9 {
    flex-basis: 75%;
  }

  .f-col-x-lg-8 {
    flex-basis: 66.66666667%;
  }

  .f-col-x-lg-7 {
    flex-basis: 58.33333333%;
  }

  .f-col-x-lg-6 {
    flex-basis: 50%;
  }

  .f-col-x-lg-5 {
    flex-basis: 41.66666667%;
  }

  .f-col-x-lg-4 {
    flex-basis: 33.33333333%;
  }

  .f-col-x-lg-3 {
    flex-basis: 25%;
  }

  .f-col-x-lg-2 {
    flex-basis: 16.66666667%;
  }

  .f-col-x-lg-1 {
    flex-basis: 8.33333333%;
  }
}
@media (max-width: 1199.98px) {
  .f-col-lg-12 {
    flex-basis: 100%;
  }

  .f-col-lg-11 {
    flex-basis: 91.66666667%;
  }

  .f-col-lg-10 {
    flex-basis: 83.33333333%;
  }

  .f-col-lg-9 {
    flex-basis: 75%;
  }

  .f-col-lg-8 {
    flex-basis: 66.66666667%;
  }

  .f-col-lg-7 {
    flex-basis: 58.33333333%;
  }

  .f-col-lg-6 {
    flex-basis: 50%;
  }

  .f-col-lg-5 {
    flex-basis: 41.66666667%;
  }

  .f-col-lg-4 {
    flex-basis: 33.33333333%;
  }

  .f-col-lg-3 {
    flex-basis: 25%;
  }

  .f-col-lg-2 {
    flex-basis: 16.66666667%;
  }

  .f-col-lg-1 {
    flex-basis: 8.33333333%;
  }
}
@media (max-width: 991.98px) {
  .f-col-md-12 {
    flex-basis: 100%;
  }

  .f-col-md-11 {
    flex-basis: 91.66666667%;
  }

  .f-col-md-10 {
    flex-basis: 83.33333333%;
  }

  .f-col-md-9 {
    flex-basis: 75%;
  }

  .f-col-md-8 {
    flex-basis: 66.66666667%;
  }

  .f-col-md-7 {
    flex-basis: 58.33333333%;
  }

  .f-col-md-6 {
    flex-basis: 50%;
  }

  .f-col-md-5 {
    flex-basis: 41.66666667%;
  }

  .f-col-md-4 {
    flex-basis: 33.33333333%;
  }

  .f-col-md-3 {
    flex-basis: 25%;
  }

  .f-col-md-2 {
    flex-basis: 16.66666667%;
  }

  .f-col-md-1 {
    flex-basis: 8.33333333%;
  }
}
@media (max-width: 767.98px) {
  .f-col-sm-12 {
    flex-basis: 100%;
  }

  .f-col-sm-11 {
    flex-basis: 91.66666667%;
  }

  .f-col-sm-10 {
    flex-basis: 83.33333333%;
  }

  .f-col-sm-9 {
    flex-basis: 75%;
  }

  .f-col-sm-8 {
    flex-basis: 66.66666667%;
  }

  .f-col-sm-7 {
    flex-basis: 58.33333333%;
  }

  .f-col-sm-6 {
    flex-basis: 50%;
  }

  .f-col-sm-5 {
    flex-basis: 41.66666667%;
  }

  .f-col-sm-4 {
    flex-basis: 33.33333333%;
  }

  .f-col-sm-3 {
    flex-basis: 25%;
  }

  .f-col-sm-2 {
    flex-basis: 16.66666667%;
  }

  .f-col-sm-1 {
    flex-basis: 8.33333333%;
  }
}
@media (max-width: 575.98px) {
  .f-col-x-sm-12 {
    flex-basis: 100%;
  }

  .f-col-x-sm-11 {
    flex-basis: 91.66666667%;
  }

  .f-col-x-sm-10 {
    flex-basis: 83.33333333%;
  }

  .f-col-x-sm-9 {
    flex-basis: 75%;
  }

  .f-col-x-sm-8 {
    flex-basis: 66.66666667%;
  }

  .f-col-x-sm-7 {
    flex-basis: 58.33333333%;
  }

  .f-col-x-sm-6 {
    flex-basis: 50%;
  }

  .f-col-x-sm-5 {
    flex-basis: 41.66666667%;
  }

  .f-col-x-sm-4 {
    flex-basis: 33.33333333%;
  }

  .f-col-x-sm-3 {
    flex-basis: 25%;
  }

  .f-col-x-sm-2 {
    flex-basis: 16.66666667%;
  }

  .f-col-x-sm-1 {
    flex-basis: 8.33333333%;
  }
}
/* layout/layout-global-level-responsive-design */
/* Use: layout global definitions */
/* Semi-Portable; Dependency: layout/_breakpoint-master-dont-modify */
/* Parent Child Level Diagram
|.container
|--|nav-box
|--|--|header-box
|--|--|main-box
|--|--|article-box
|--|--|section-box
|--|--|aside-box
|--|--|.row-box
|--|--|--|.col (can be child of header, main, article, section, aside, .row)
|--|footer-box (child of .container)
*/
.parent-grid {
  padding: 0 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
@media (max-width: 767.98px) {
  .parent-grid {
    grid-template-columns: 1fr;
  }
}

.header {
  text-align: center;
  grid-column: 1/3;
}
.header__image {
  width: 50%;
}
@media (max-width: 767.98px) {
  .header {
    grid-column: 1/2;
  }
  .header__image {
    width: 100%;
  }
}

.section1 {
  border: 1px solid #000000;
  padding: 10px;
  overflow-x: auto;
  grid-column: 1/2;
}
@media (max-width: 767.98px) {
  .section1 {
    grid-column: 1/2;
    border: 1px solid #000000;
  }
}
.section1 .article1 {
  border: dotted 1px #000000;
  padding: 10px;
  margin-bottom: 10px;
}
.section1 .article1__img {
  width: 100%;
  height: auto;
}
.section1 .article2 {
  border: dotted 1px #000000;
  padding: 10px;
}
.section1 .article2__img {
  width: 100%;
  height: auto;
}

.section2 {
  border: 1px solid #000000;
  padding: 10px;
  overflow-x: auto;
  grid-column: 2/3;
}
@media (max-width: 767.98px) {
  .section2 {
    grid-column: 1/2;
  }
}

.article3 {
  text-align: center;
}
.article3__img {
  border: 1px solid #000000;
  border-radius: 50%;
  object-fit: cover;
  width: 100px;
  height: 100px;
}
@media (max-width: 767.98px) {
  .article3__img {
    width: 200px;
    height: 200px;
  }
}

.aux-box {
  text-align: start;
  margin-top: 10px;
}

i {
  padding: 0 5px;
}

.my-animation {
  margin: auto;
  width: 200px;
}

/* 
.caja-animada {
    width: 100px;
    height: 100px;
    position: relative;
    animation-name: caja;
    animation-duration: 4s;
    animation-delay: 2g;
    animation-iteration-count: infinite;
}

@keyframes caja {
    0% {
        transform: translate(0%, 0%);
    }
    50% {
        transform: translate(20%, 0%);
    }
    100% {
        transform: translate(0%, 0%);
    }
}

.caja-animadados {
    width: 100px;
    height: 100px;
    animation-name: cajados;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transform-box: fill-box;
    transform-origin: center;
    animation-timing-function: linear;
}

@keyframes cajados {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} */
.my-button {
  color: #FFAF6D;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  /* padding: 15px 32px; */
  /* margin: 0 10px; */
  font-size: 1em;
}
@media (max-width: 1199.98px) {
  .my-button {
    padding: 9px 24px;
    margin: 0 8px;
    font-size: 1em;
  }
}
@media (max-width: 991.98px) {
  .my-button {
    padding: 9px 24px;
    margin: 0 6px;
    font-size: 1em;
  }
}
@media (max-width: 767.98px) {
  .my-button {
    padding: 7px 20px;
    margin: 0 4px;
    font-size: 0.8em;
  }
}
@media (max-width: 575.98px) {
  .my-button {
    padding: 5px 16px;
    margin: 0 2px;
    font-size: 0.8em;
  }
}
.my-button--red {
  background-color: tomato;
}
.my-button--blue {
  background-color: #82b4ff;
}
.my-button:hover {
  background-color: #FFFFFF;
  border: solid 2px #2E1503;
}

/* component/collapsable-menu-css-only */
/* Use: Burguer Icon without JS */
/* Portable */
.f-nav-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
  background-color: #000000;
}
.f-nav-box__brand-logo {
  width: 60px;
  height: 60px;
  padding: 5px 0px 5px 20px;
}
@media (max-width: 767.98px) {
  .f-nav-box__brand-logo {
    padding: 8px 0px 0px 20px;
  }
}
.f-nav-box__menu {
  margin-top: 10px;
  margin-right: 40px;
}
@media (max-width: 991.98px) {
  .f-nav-box__menu {
    align-self: stretch;
    padding: 20px 0;
    margin-right: 20px;
  }
}

input[type=checkbox] {
  display: none;
}
input[type=checkbox]:checked ~ .collapse {
  height: 230px;
}

.collapse {
  text-align: right;
  color: #000000;
}
@media (max-width: 991.98px) {
  .collapse__menu-content {
    text-align: right;
  }
}
@media (max-width: 991.98px) and (max-width: 575.98px) {
  .collapse__menu-content {
    text-align: left;
  }
}
.collapse__menu-content a {
  color: #FFFFFF;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  margin-left: 1em;
}
.collapse__menu-content a:hover {
  color: #FFA500;
}
@media (max-width: 991.98px) {
  .collapse {
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    display: block;
    width: 170px;
    height: 2.8em;
    /* Needs to match Icon Font-Size */
    overflow: hidden;
    cursor: pointer;
  }
}
@media (max-width: 991.98px) and (max-width: 575.98px) {
  .collapse {
    width: 120px;
  }
}
@media (max-width: 991.98px) {
  .collapse__menu-icon:before {
    font-family: "Font Awesome 5 Free";
    content: "\f0c9";
    font-weight: 900;
    /* This needs to be 900 for the icon to display */
    font-size: 2.5em;
    /* Icon Font-Size to match */
    color: #FFFFFF;
  }
}
@media (max-width: 991.98px) {
  .collapse__menu-content a {
    line-height: 3em;
  }
}
@media (min-width: 992px) {
  .collapse__menu-content > li {
    display: inline;
  }
}

.footer-box {
  display: flex;
  justify-content: space-around;
  background-color: #000000;
  text-align: center;
  padding: 30px 0;
  margin-top: 10px;
}
@media (max-width: 767.98px) {
  .footer-box {
    flex-direction: column;
    padding: 50px;
  }
}
.footer-box p {
  color: #FFFFFF;
  display: inline-block;
  padding-right: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 0.875em;
}
@media (max-width: 767.98px) {
  .footer-box p {
    display: block;
    padding-bottom: 10px;
  }
}
.footer-box__end-email {
  font-family: "Poppins", sans-serif;
  background-color: #FFFFFF;
  border-radius: 5px;
  border: 1px solid #666666;
  padding: 4px;
}
.footer-box__end-email:focus {
  background-color: #FFAF6D;
}
@media (max-width: 767.98px) {
  .footer-box__end-email {
    display: block;
    margin: auto;
  }
}
.footer-box__end-enviar {
  font-family: "Poppins", sans-serif;
  background-color: #FFAF6D;
  border-radius: 5px;
  border: 1px solid #666666;
  padding: 4px;
  cursor: pointer;
}
.footer-box__end-enviar:hover {
  background-color: #FFFFFF;
}

.my-input {
  background-color: #FFFFFF;
}
.my-input:focus {
  background-color: #FFAF6D;
}

/* themes/_help-tell-me-screen-size */
/* Use: display screen size message */
/* Semi-Portable; Dependency: layout/_breakpoint-master-dont-modify */
.help-tell-me-screen-size::before {
  display: block;
  text-align: center;
  border: 1px solid black;
  padding: 0.5em;
}
@media (min-width: 1400px) {
  .help-tell-me-screen-size::before {
    background-color: red;
    content: "Screen size: XX-Large. | Usually: desktop screens";
  }
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .help-tell-me-screen-size::before {
    background-color: darkorange;
    content: 'Screen size: X-Large. | Usually: most-used 13" laptops';
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .help-tell-me-screen-size::before {
    background-color: yellow;
    content: "Screen size: Large. | Usually: small laptops";
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .help-tell-me-screen-size::before {
    background-color: #7ac53d;
    content: "Screen size: Medium. | Usually: tablets and e-readers";
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .help-tell-me-screen-size::before {
    background-color: lightskyblue;
    content: "Screen size: Small. | Usually: smartphones horizontal-view";
  }
}
@media (max-width: 575.98px) {
  .help-tell-me-screen-size::before {
    background-color: pink;
    content: "Screen size: X-Small. | Usually: smartphones";
  }
}

/*# sourceMappingURL=style.css.map */
