/* abstracts/variables */
/* Colors */
/* Font Family */
/* Font weight */
/* Font Size */
/* 50px */
/* 30px */
/* 16px */
/* 14px */
/* 12px */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* base/typography */
body {
  font-family: "Poppins", sans-serif;
  font-family: "Ubuntu", sans-serif;
}

h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 35px;
  font-weight: 400;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  font-weight: 700;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.875em;
  font-weight: 700;
  padding: 5px;
}

h4 {
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  color: #000000;
  font-weight: 700;
  padding-top: 0.5em;
}
@media (max-width: 767.98px) {
  h4 {
    font-size: 20px;
  }
}

h5 {
  font-family: "Ubuntu", sans-serif;
  font-size: 1em;
  color: #000000;
  font-weight: 400;
  padding-top: 0.5em;
}
@media (max-width: 767.98px) {
  h5 {
    font-size: 1em;
  }
}

label {
  font-family: "Poppins", sans-serif;
  font-size: 0.75em;
  font-weight: 700;
  padding: 5px;
}

p {
  font-family: "Ubuntu", sans-serif;
  font-size: 1em;
  font-weight: 400;
}

a {
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

/* layout/breakpoint-master-dont-modify */
/* For breakpoint control */
/* Portable */
/* 1. Define breakpoint variables. Sizes obtained from Bootstrap 4.6 */
/* 2. Responsive breakpoint manager */
/* End of responsive breakpoint manager */
/* 3. Sample. How to use it: This is a BEM approach (Block Element Modifier based approach) */
/* body {
  @include screen-size('x-large') {
      font-family: Arial, Helvetica, sans-serif;
  }
}
 */
/* layout/layout-global-level-responsive-design */
/* Use: layout global definitions */
/* Semi-Portable; Dependency: layout/_breakpoint-master-dont-modify */
/* Parent Child Level Diagram
|.container
|--|nav-box
|--|--|header-box
|--|--|main-box
|--|--|article-box
|--|--|section-box
|--|--|aside-box
|--|--|.row-box
|--|--|--|.col (can be child of header, main, article, section, aside, .row)
|--|footer-box (child of .container)
*/
.parent-grid {
  background-color: blue;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 767.98px) {
  .parent-grid {
    grid-template-columns: 1fr;
  }
}

.header {
  background-color: yellow;
  grid-column: 1/3;
}
@media (max-width: 767.98px) {
  .header {
    grid-column: 1/2;
  }
}

.section1 {
  background-color: green;
  grid-column: 1/2;
}
@media (max-width: 767.98px) {
  .section1 {
    grid-column: 1/2;
  }
}

.section2 {
  background-color: red;
  grid-column: 2/3;
}
@media (max-width: 767.98px) {
  .section2 {
    grid-column: 1/2;
  }
}

/* 
.author-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width: 575.98px) {
        justify-content:center;}
    padding: 1em 0;
    width: 90%;
    margin: auto;

    &__description {
        display: flex;
        flex-direction: row;
    }

    &__circle-img {
        border-radius: 50%;
        object-fit: cover; //needed for rectangular images}  
            width: 95px;
            height: 95px;
        @media (max-width: 1199.98px) {
            width: 95px;
            height: 95px;
        }
        @media (max-width: 991.98px) {
            width: 95px;
            height: 95px;
        }
        @media (max-width: 767.98px) {
            width: 75px;
            height: 75px;  
        }
        @media (max-width: 575.98px) {
            width: 60px;
            height: 60px;  
        }

        }
    &__username{
            color: red;
            align-self: center;
            margin: 0 0 0 20px;
            &--bold {
                font-size: $large; 
                @media (max-width: 767.98px) {
                    font-size: $medium;
                }
                color: $smoky-black;
                font-weight: $weight-bold;
            }
            &--light {
                font-size: $medium; 
                @media (max-width: 767.98px) {
                    font-size: $small;
                }
                color: $granite-gray;
                font-weight: $weight-normal;
            }
                }


    &__interaction {
        align-self:center;
        @media (max-width: 575.98px) {
        display: none;
    }
    }
}

.on-off {
    @media (max-width: 575.98px) {
    display: none;
}
}

.box{
    width: 90%;
    margin: auto;
    margin-top: 1em;
    @media (max-width: 575.98px) {
       text-align: center;
    }
}

.video-box {
    display: flex;
    flex-wrap: wrap;
    direction: row;
    justify-content:flex-start;
    text-align: left;

    &__card{
        padding: 1em;
    }

    &__card  img{
        max-width: 100%; //make img responsive
        height: auto; //make img responsive
        }
}



 */
.my-button {
  color: #FFAF6D;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  /* padding: 15px 32px; */
  /* margin: 0 10px; */
  font-size: 1em;
}
@media (max-width: 1199.98px) {
  .my-button {
    padding: 9px 24px;
    margin: 0 8px;
    font-size: 1em;
  }
}
@media (max-width: 991.98px) {
  .my-button {
    padding: 9px 24px;
    margin: 0 6px;
    font-size: 1em;
  }
}
@media (max-width: 767.98px) {
  .my-button {
    padding: 7px 20px;
    margin: 0 4px;
    font-size: 0.8em;
  }
}
@media (max-width: 575.98px) {
  .my-button {
    padding: 5px 16px;
    margin: 0 2px;
    font-size: 0.8em;
  }
}
.my-button--red {
  background-color: tomato;
}
.my-button--blue {
  background-color: #82b4ff;
}
.my-button:hover {
  background-color: #FFFFFF;
  border: solid 2px #2E1503;
}

/* component/collapsable-menu-css-only */
/* Use: Burguer Icon without JS */
/* Portable */
.f-nav-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  background-color: #000000;
}
.f-nav-box__brand-logo {
  width: 60px;
  height: 60px;
  padding: 5px 0px 5px 20px;
}
@media (max-width: 767.98px) {
  .f-nav-box__brand-logo {
    padding: 8px 0px 0px 20px;
  }
}
.f-nav-box__menu {
  align-self: center;
  margin-right: 40px;
}
@media (max-width: 991.98px) {
  .f-nav-box__menu {
    align-self: stretch;
    padding: 20px 0;
    margin-right: 5px;
  }
}

input[type=checkbox] {
  display: none;
}
input[type=checkbox]:checked ~ .collapse {
  height: 170px;
}

.collapse {
  text-align: right;
  color: #000000;
}
@media (max-width: 991.98px) {
  .collapse__menu-content {
    text-align: right;
  }
}
@media (max-width: 991.98px) and (max-width: 575.98px) {
  .collapse__menu-content {
    text-align: left;
  }
}
.collapse__menu-content a {
  color: #FFFFFF;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  margin-left: 1em;
}
.collapse__menu-content a:hover {
  color: #FFA500;
}
@media (max-width: 991.98px) {
  .collapse {
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    display: block;
    width: 170px;
    height: 2.8em;
    /* Needs to match Icon Font-Size */
    overflow: hidden;
    cursor: pointer;
  }
}
@media (max-width: 991.98px) and (max-width: 575.98px) {
  .collapse {
    width: 120px;
  }
}
@media (max-width: 991.98px) {
  .collapse__menu-icon:before {
    font-family: "Font Awesome 5 Free";
    content: "\f0c9";
    font-weight: 900;
    /* This needs to be 900 for the icon to display */
    font-size: 2.5em;
    /* Icon Font-Size to match */
    color: #FFFFFF;
  }
}
@media (max-width: 991.98px) {
  .collapse__menu-content a {
    line-height: 3em;
  }
}
@media (min-width: 992px) {
  .collapse__menu-content > li {
    display: inline;
  }
}

.my-input {
  background-color: #FFFFFF;
}
.my-input:focus {
  background-color: #FFAF6D;
}

/* themes/_help-tell-me-screen-size */
/* Use: display screen size message */
/* Semi-Portable; Dependency: layout/_breakpoint-master-dont-modify */
.help-tell-me-screen-size::before {
  display: block;
  text-align: center;
  border: 1px solid black;
  padding: 0.5em;
}
@media (min-width: 1400px) {
  .help-tell-me-screen-size::before {
    background-color: red;
    content: "Screen size: XX-Large. | Usually: desktop screens";
  }
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .help-tell-me-screen-size::before {
    background-color: darkorange;
    content: 'Screen size: X-Large. | Usually: most-used 13" laptops';
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .help-tell-me-screen-size::before {
    background-color: yellow;
    content: "Screen size: Large. | Usually: small laptops";
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .help-tell-me-screen-size::before {
    background-color: #7ac53d;
    content: "Screen size: Medium. | Usually: tablets and e-readers";
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .help-tell-me-screen-size::before {
    background-color: lightskyblue;
    content: "Screen size: Small. | Usually: smartphones horizontal-view";
  }
}
@media (max-width: 575.98px) {
  .help-tell-me-screen-size::before {
    background-color: pink;
    content: "Screen size: X-Small. | Usually: smartphones";
  }
}

/*# sourceMappingURL=style.css.map */
